<h1>Air Element 🌬</h1>
<h2>Zodiac Signs</h2>
<ul>
    <li><a href="/air/aquarius">Aquarius</a></li>
    <li><a href="/air/gemini">Gemini</a></li>
    <li><a href="/air/libra">Libra</a></li>
</ul>

<h2>Sign Traits:</h2>
<ul>
    <% airTraits.forEach(element=>{%>
        <li><%=element %></li>
    <% }) %>
    
</ul>