<h1>Fire Element</h1>
    <h2>Zodiac Signs</h2>
    <ul>
        <li><a href="/fire/aries">Aries</a></li>
        <li><a href="/fire/leo">Leo</a></li>
        <li><a href="/fire/sagittarius">Sagittarius</a></li>
    </ul>

    <h2>Sign Traits:</h2>
    <ul>
        <% fireTraits.forEach(element=>{%>
            <li><%=element %></li>
        <% }) %>
        
    </ul>