<h1>Water Element</h1>
    <h2>Zodiac Signs</h2>
    <ul>
        <li><a href="/water/pisces">Pisces</a></li>
        <li><a href="/water/cancer">Cancer</a></li>
        <li><a href="/water/scorpio">Scorpio</a></li>
    </ul>

    <h2>Sign Traits:</h2>
    <ul>
        <% waterTraits.forEach(element=>{%>
            <li><%=element %></li>
        <% }) %>
        
    </ul>